
.ColorText {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgb(88, 75, 75) 0 0 15px;
  }
  
  .ColorText a {
    color: rgb(59, 57, 57);
  }


  .ColorList {
    text-align: center;
  }
  
  .ColorList-header {
    height: 120px;
    padding: 25px;
    background-color: rgb(85, 79, 79);
    color: rgb(240, 221, 221);
  }
  
  .ColorList-header a {
    color: rgb(182, 235, 189);
  }
  
  .ColorList-title {
    font-size: 1.5em;
  }
  
  .ColorList-intro {
    font-size: large;
  }
  
  ul {
    list-style: none;

  }

  .NewColor {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(230, 67, 230),rgb(165, 40, 40), rgb(170, 140, 85),  rgb(58, 204, 58),rgb(223, 223, 60), rgb(32, 187, 187), rgb(49, 49, 145));
    align-items: center;
    justify-content: center;
  }
  
  .NewColor form {
    width: 60%;
    background-color: rgb(236, 205, 205);
    padding: 50px;
    border-radius: 20px;
  }
  
  .NewColor form div {
    padding: 25px;
  }